@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/about.css">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title> NewHouse</title>
</head>
<body>
    <div class="header__inner">
        <div class="header__logo">NewHouse</div>
        <nav class="nav">
            <a class="nav__link" asp-area="" asp-page="/Index">Back</a>
        </nav>
    </div>
    

    <div class="contanier">
        <h1 class="intro__title">Почему мы?</h1>
        <p class="discription">
            <img width="400" height="400" class="jpghouse" src="/css/banya_carev_camera_01_final-770x500.jpg" alt="House">Строительная компания "NewHouse" открыта в 2008 году.

            <br>В нашей компании нет случайных людей.<br> Каждый человек исполняет свою роль и делает это хорошо. Дизайнер создает проекты.<br> Бригадиры руководят строителями, следит за качеством работы и поставками материалов.<br> Строители строят, сварщики варят, электрики тянут провода.<br> Они получают хорошую зарплату и знают, что за халтуру увольняют.<br> Поэтому наши клиенты всегда довольны качеством работы.

            <br>Мы строим качественные дома под ключ из дерева: бруса, бревна.
        </p>
    </div>
</body>
</html>
