@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title> NewHouse</title>
    
</head>

<body> 
    <header class="header">
        <div class="contanier">
            <div class="header__inner">
                <div class="header__logo">NewHouse</div>
                <nav class="nav">
                    <a class="nav__link" href="#">About</a>
                    <a class="nav__link" href="#">Catalog</a>
                    <a class="nav__link" href="#">Contact</a>
                </nav>
            </div>
        </div>
    </header>
    <div class="intro">
        <div class="contanier">
            <h1 class="intro__title">Лучшие дома для жизни</h1>
            <p class="discription">
                <img width="300" height="300" class="jpghouse" src="/css/houseintro.jpg" alt="House image">При строительстве наших домов соблюдаются все требования<br> экологической безопасности,они полностью безвредны для природы,<br> людей и экологии. Нами предусмотрена полная работа дома от собственной<br> энергии с помощью солнечных батарей, канализационных септиков,ветряных<br> коллекторов и других систем безтопливной генерации энергии.
            </p>
        </div>
    </div>

</body>
</html>
<style>
    body {
        margin: 0;
        font-size: 15px;
        line-height: 1.6;
        color: #333;
        width: 100%;
        height: 100vh;
        background: url("../Pages/intro.jpg") center no-repeat;
        background-size: cover;
    }

    h1, h2, h3, h4 {
        margin: 0;
    }


    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    .contener {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .intro__title {
        font-size: 100px;
        font-weight: 700;
        text-align: center;
        margin-top: 180px;
        color: white;
    }

    .header {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1200;
    }

    .header__inner {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }

    .header__logo {
        font-size: 70px;
        font-weight: 700;
        color: white;
        font-family: 'Kaushan Script', cursive;
        margin-left: 50px;
    }

    .nav {
        text-transform: uppercase;
        font-size: 30px;
    }

    .nav__link {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        color: ivory;
        transition: color 0.2s;
    }

        .nav__link:hover {
            color: rgb(27, 8, 201);
        }

    .discription {
        margin-left: 50px;
        margin-top: 50px;
        font-size: 25px;
        color: white;
        padding: 0 20px;
        ;
    }

    .jpghouse {
        float: left;
        margin: 3px 12px 0px 0px;
    }
</style>
